.jm-contact-us-page {
  background-color: lightgray;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
}
.jm-site-btn {
  width: 120px;
  height: 45px;
  background-color: #222222;
  color: #ffffff;
  border: none;
  padding-left: 0%;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  outline: none;
}
.jm-input-item {
  height: 45px;
  border: 1px solid #888;
  padding-left: 20px;
  font-size: 17px;
  color: #888;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  outline: none;
}
.jm-contact-us-form textarea {
  border: 2px solid #888;
  padding-left: 19px;
  padding-top: 12px;
  font-size: 17px;
  color: #888;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  outline: none;
}
.bi-person-lines-fill {
  top: 30px;
  right: 10px;
  color: #888;
}
.jm-contact-us-photo-div {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.jm-contact-us-photo {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}
